html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */

#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.contact > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.row-wrap {
    flex-wrap: wrap;
}
.text-white {
    color: white;
}
md-grid-tile-footer figcaption {
    width: 100%;
}
md-grid-tile-header figcaption {
  width: 100%;
}
.scroll-container {
    overflow-y: scroll;
}
.md-subheader.no-padding .md-subheader-inner {
    padding-top: 0px;
    padding-bottom: 0px;
}
.dontDisplay{
  display: none;
}
.beHidden{
  display: none;
}
/*table, tbody, thead, th, td {*/
  /*border: 1px solid black;*/
  /*border-collapse: collapse;*/
/*}*/
.card-title {
    font-weight: 400;
    color: #4527A0;
    margin-bottom: 5px;
}
.sidenav-header {
    height: 150px;
    background-image: url("../img/Patient_Screen_Art.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.md-subheader .md-subheader-inner{
    padding: 5px 0px 0px 10px
}

.shadow-z-1 {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.goals-set {
    color: #33CD5F !important;
}
/*orange*/
.text-warning,
.text-orange {
	color: #e98024 !important;
}

.btn-warning,
.sweet-alert .sa-icon.sa-warning .sa-body,
.sweet-alert .sa-icon.sa-warning .sa-dot,
.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
	background: #e98024 !important;
}

.sweet-alert .sa-icon.sa-warning {
	border-color: #e98024 !important;
}

.btn-ghost.btn-warning, 
.btn-ghost.btn-warning:hover, 
.btn-ghost.btn-warning:active, 
.btn-ghost.btn-warning:visited, 
.btn-ghost.btn-warning:focus {  
	color: #e98024;
	-webkit-box-shadow: inset 0px 0px 0px 0px #e98024;
	-moz-box-shadow: inset 0px 0px 0px 0px #e98024;
	box-shadow: inset 0px 0px 0px 0px #e98024;
	border-color: inherit;
}

/*red*/
.btn-ghost.btn-danger, 
.btn-ghost.btn-danger:hover, 
.btn-ghost.btn-danger:active, 
.btn-ghost.btn-danger:visited, 
.btn-ghost.btn-danger:focus {  
	color: #ea4d3d;
	-webkit-box-shadow: inset 0px 0px 0px 0px #ea4d3d;
	-moz-box-shadow: inset 0px 0px 0px 0px #ea4d3d;
	box-shadow: inset 0px 0px 0px 0px #ea4d3d;
	border-color: inherit;
}

.text-red,
.dashboard .dashboard-pre-campaign .target.active,
md-input-container.md-default-theme.md-input-invalid ng-message,
md-input-container.md-input-invalid ng-message,
md-input-container.md-default-theme.md-input-invalid data-ng-message,
md-input-container.md-input-invalid data-ng-message,
md-input-container.md-default-theme.md-input-invalid x-ng-message,
md-input-container.md-input-invalid x-ng-message,
md-input-container.md-default-theme.md-input-invalid [ng-message],
md-input-container.md-input-invalid [ng-message],
md-input-container.md-default-theme.md-input-invalid [data-ng-message],
md-input-container.md-input-invalid [data-ng-message],
md-input-container.md-default-theme.md-input-invalid [x-ng-message],
md-input-container.md-input-invalid [x-ng-message],
md-input-container.md-default-theme.md-input-invalid [ng-message-exp],
md-input-container.md-input-invalid [ng-message-exp],
md-input-container.md-default-theme.md-input-invalid [data-ng-message-exp],
md-input-container.md-input-invalid [data-ng-message-exp],
md-input-container.md-default-theme.md-input-invalid [x-ng-message-exp],
md-input-container.md-input-invalid [x-ng-message-exp],
md-input-container.md-default-theme.md-input-invalid .md-char-counter,
md-input-container.md-input-invalid .md-char-counter,
.has-error .selectize-input.ng-invalid,
.text-danger,
.summary-campaign h4.header,
.label-error-billing,
.form-group.has-error label {
	color: #ea4d3d!important;
}

md-input-container.md-default-theme.md-input-invalid .md-input,
md-input-container.md-input-invalid .md-input,
.has-error .selectize-input.ng-invalid,
.has-error .selectize-input,
.admin .text-angular.has-error .ta-editor, 
.profile-form .has-error tags-input .tags,
.form-group.has-error .form-control {
	border-color: #ea4d3d !important;
}

.btn-danger,
.sweet-alert .sa-icon.sa-error .sa-line,
.bg-red, 
.callout.callout-danger, 
.alert-danger, 
.alert-error, 
.label-danger, 
.modal-danger .modal-body {
	background-color: #ea4d3d !important;
}

/*blue*/
.mobile-dashboard .active-network {
	-webkit-box-shadow: inset 0px -2px 0px 0px #3f9dd6;
	-moz-box-shadow: inset 0px -2px 0px 0px #3f9dd6;
	box-shadow: inset 0px -2px 0px 0px #3f9dd6;
}

.dashboard .campaigns-selector .tab.text-primary {
	-webkit-box-shadow: inset 0px -2px 0px 0px #3f9dd6;
	-moz-box-shadow: inset 0px -2px 0px 0px #3f9dd6;
	box-shadow: inset 0px -2px 0px 0px #3f9dd6;
}

.skin-blue .callout.callout-info {
	border: 1px solid #3f9dd6;
}


.account-header .navigation.active, .network-tab.active {
	border-bottom: 3px solid #3f9dd6!important;
}

.text-blue,
md-tabs .md-tab.md-active,
.dashboard .dashboard-pre-campaign .optimize.active,
.summary-campaign .modal .total-value, .dashboard-demographics .modal .total-value,
.text-primary,
.header-summary-campaign .campaign-name, 
.summary-campaign .item .number-ads,
.summary-campaign .item .summary-icon.needs,
.dashboard-demographics .unpaid-campaigns-table .number-ads,
.dashboard .last-30-days .colored,
.dashboard .top-stats .count.visitors,
.add-campaign .ad-titles.box .subtitle, .add-campaign .ad-messages.box .subtitle,
.add-campaign .ad-images .subtitle,
.add-campaign .ad-preview .control h3, .modal .ad-preview .control h3 {
	color: #3f9dd6!important;
}

.btn-primary,
md-tabs.md-default-theme md-ink-bar,
md-tabs md-ink-bar,
.selectize-dropdown .active,
.selectize-control.multi .selectize-input > div,
.sweet-alert button.confirm,
.bg-blue, 
.callout.callout-info, 
.alert-primary,
.label-primary, 
.modal-primary .modal-body
.needls-bg-blue,
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover,
.summary-campaign .modal .billing_info_header.active, .dashboard-demographics .modal .billing_info_header.active, .billing-form .modal .billing_info_header.active {
	background-color: #3f9dd6!important;
}

.btn-ghost.btn-primary, 
.btn-ghost.btn-primary:hover, 
.btn-ghost.btn-primary:active, 
.btn-ghost.btn-primary:visited, 
.btn-ghost.btn-primary:focus {	
	color: #3f9dd6;
	-webkit-box-shadow: inset 0px 0px 0px 0px #3f9dd6;
	-moz-box-shadow: inset 0px 0px 0px 0px #3f9dd6;
	box-shadow: inset 0px 0px 0px 0px #3f9dd6;
	border-color: #3f9dd6;
}

/*green*/
.text-green {
	color: #5bbd79 !important;
}

.media-gallery-modal .selected-image {
	-webkit-box-shadow: 0px 0px 0px 2px #5bbd79;
	-moz-box-shadow: 0px 0px 0px 2px #5bbd79;
	box-shadow: 0px 0px 0px 2px #5bbd79;
}

.profile-form .has-success tags-input .tags, 
.admin .text-angular.has-success .ta-editor,
.add-campaign .has-success tags-input .tags {
	border: 1px solid #5bbd79!important;
}

.has-success .selectize-input,
.form-group.has-success .form-control,
.add-campaign .form-group.has-success .form-control {
	border-color: #5bbd79!important;
}

.btn-success,
.switch.checked,
.summary-campaign .item .summary-price, 
.admin .stats-filter .all.active,
.needls-bg-green,
.dashboard .top-stats .network-toggle .tab.summary.active,
.sweet-alert .sa-icon.sa-success .sa-line,
.bg-green, 
.callout.callout-success, 
.alert-success, 
.label-success, 
.modal-success .modal-body,
.view-campaign .label.label-success,
.view-campaigns .label.label-success {
	background-color: #5bbd79 !important;
}

.dashboard .dashboard-pre-campaign .create.active,
.has-success .selectize-input.ng-valid,
.text-success,
.add-campaign .feature-list .switch.checked small .fa,
.add-campaign .campaign-info .budget-price .currencyLabel,
.header-summary-campaign .congrats,
.network-tab.all.active .fa,
.summary-campaign .modal .success-billing,
.dashboard-demographics .modal .success-billing,
.dashboard-demographics .unpaid-campaigns-table .campaign-name,
.dashboard .top-stats .count.spend,
.add-campaign .ad-titles .add, .add-campaign .ad-messages .add,
.add-campaign .ad-preview .control .expand, .modal .ad-preview .control .expand {
	color: #5bbd79!important;
}

.btn-ghost.btn-success, 
.btn-ghost.btn-success:hover, 
.btn-ghost.btn-success:active, 
.btn-ghost.btn-success:visited, 
.btn-ghost.btn-success:focus {
	color: #5bbd79;
	-webkit-box-shadow: inset 0px 0px 0px 0px #5bbd79;
	-moz-box-shadow: inset 0px 0px 0px 0px #5bbd79;
	box-shadow: inset 0px 0px 0px 0px #5bbd79;
	border-color: #5bbd79;
}

.btn-ghost {
	background: transparent!important;
	border: 1px solid;
}

.btn {
	border-width: 0!important;
	outline: 0!important;
}

.btn-primary {
	color: #fff;
}
.btn-warning {
	color: #fff;
}
.btn-danger {
	color: #fff;
}
.btn-success {
	color: #fff;
}

.circular {
	animation: rotate 2s linear infinite;
	height: 100%;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}
@keyframes color {
	100%,
	0% {
		stroke: #ea4d3d;
	}
	40% {
		stroke: #3f9dd6;
	}
	66% {
		stroke: #5bbd79;
	}
	80%,
	90% {
		stroke: #e98024;
	}
}
.billing-page .invoices-container,
.billing-page .empty-state {
	width: 1090px;
	margin-top: 30px;
}

.add-edit-modal button,
.add-edit-modal .form-control {
	height: 50px;
	border-radius: 2px!important;
}
.therapyScore {
	display: block;
	height: 60px;
	width: 60px;
	line-height: 60px;
	-moz-border-radius: 30px; /* or 50% */
	border-radius: 30px; /* or 50% */
	text-align: center;
	font-size: 1.5em;
	margin: 10px 0px 0px 25px
}
.lowTherapyScore {
	border: 1px solid #F44336;
	color: #F44336
}
.highTherapyScore {
	border: 1px solid #4CAF50;
	color: #4CAF50
}
.white_text {
	color: white;
}
body > div.md-dialog-container.ng-scope > md-dialog {
	max-width: 50%
}
/*TODO: CHANGE CLASS NAME */
.how-it-works-1 {
    background-image: url('../img/snapsCover.png');
    min-width: 300px;
    max-width: 300px;
    min-height: 418px;
    max-height: 418px;
    margin:auto;
    margin-bottom: 30px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
}

.insta svg
{
   fill : #cd486b;
}

.facebook svg
{
   fill : #3b5998;
}
.twitter svg
{
   fill : #0084b4;
}