
  <md-content flex id="content" style="background-color: whitesmoke">
      <div layout="row">
          <div class="md-padding" flex="70" layout="column">
             <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <span flex class="md-title">{{itemInfo.Title}}</span>
                    </md-card-header-text>
                    <jk-rating-stars max-rating="5" rating="itemInfo.Stars" read-only="true"></jk-rating-stars>
                    <span style="font-size: 24px; line-height: 30px">&nbsp ({{itemInfo.Ratings}})</span>
                </md-card-header>
                
                <md-card-content>
                    <p style="font-size: 18px; font-weight: 300; line-height: 26px">
                        {{itemInfo.Description}}
                    </p>
                    <div layout="row">
                        <span flex></span>     
                        <span style="font-size: 24px; font-weight: 300; line-height: 30px" class="md-padding">${{itemInfo.Price}}</span>
                        <md-button class="md-raised md-outline" style="color: #17AA1C; border: 1px solid #17AA1C">Add to Library</md-button>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="start center">
                    
                </md-card-actions>
            </md-card>
            <div layout="row">
                <md-card flex="33">
                    <video controls ng-mouseover="playVideo()" id="vid" style="height: 123px" poster="https://hchepassets.s3.amazonaws.com/thumbnails/courtney9.jpeg" class="md-card-image" alt="">
                        <source ng-src="https://hchepassets.s3.amazonaws.com/video/FootWallSlide.mp4" type="video/mp4" src="https://hchepassets.s3.amazonaws.com/video/FootWallSlide.mp4">
                    </video>
                    <md-card-content>
                        <span class="md-title">Wall Foot Slide</span>
                        <p>
                            This video is all about sliding that heel boy.
                        </p>
                    </md-card-content>
                </md-card>
            </div>
          </div>
          <div class="md-padding" flex="30">
            <div class="how-it-works-1" ng-style="{'background-image':'url('+imgURL+')'}">
                <p style="width: 270px; height: 136px; text-align: center; color: #3c3c3c; position: absolute; bottom: 30px; font-size: 14px;  margin: 0 13px 85px; line-height: 1.6; padding: 10px">
                    <b style="font-size: 18px">{{author.Name}}</b><br />
                    {{author.Description}}
                    <br />
                    <a target="_blank" href="{{author.Instagram}}"><md-icon style="margin-right: 60px" md-svg-icon="instagram" class="insta"></md-icon></a>
                    <a target="_blank" href="{{author.Facebook}}"> <md-icon style="margin-right: 60px" md-svg-icon="facebook" class="facebook"></md-icon></a>
                    <a target="_blank" href="{{author.Twitter}}"><md-icon md-svg-icon="twitter" class="twitter"></md-icon></a>
                </p>
                
            </div>
            <div layout="row" style="padding: 0px 30px">
                
            </div>
            
        </div>
      </div>
  </md-content>